    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
      <servers>
        <server>
          <id>srujanreleases</id>
          <username>srujan</username>
          <password>srujan</password>
        </server>
        <server>
          <id>srujansnapshots</id>
          <username>srujan</username>
          <password>srujan</password>
        </server>
      </servers>
    </settings>
